<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CommandLinePath" Guid="7C5F1E0A-3B7D-4E2F-9A61-2D4C8B0E5F13" KeyPath="yes">
        <Environment Id="CommandLinePath" Name="PATH" Value="[INSTALLDIR]bin" Part="last" Action="set" System="yes" Permanent="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
